*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
flex-direction: column;
  border: 2px solid #1a8100;
  background-color: #ffffff;
  box-shadow: #000000 5px 5px 5px;
  text-shadow: #000000 0.5px 0.5px 0.5px;
  margin-bottom: 30px;
    background-image: url('images/green  Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.intro div {
  width: 40%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 20px;
  margin: 50px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  color: black;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  word-spacing: 1.6px;
  line-height: 1.6;

}
.intro header{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0;
    align-self:flex-start;
    width: 100%;
    background-color: #cefac3;
}
.intro header h1{
    font-size: 100px;
    margin-right: 20px;
    color: #1a8100;
    text-shadow: #000000 3.5px 3.5px 3.5px;
    width: 100%;
    text-align: center;
}
.intro header h2{
    font-size: 30px;
    color: #0a4415;
    text-shadow: #000000 1px 1px 1px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    text-align: center;
}

.preamble:hover{
   transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.summary:hover{
   transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.main{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
}

.main div{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 20px;
  margin: 20px 20px;
  color: black;
  word-spacing: 1.6px;
  line-height: 1.6;

}
.main div h3{
    font-size: 1.5em;
    color: #1a8100;
    margin-bottom: 10px;
    text-align: center;
}
.main div p {
    font-size: 1em;
    color: #333333;
    text-align: justify;
    margin-bottom: 10px;
}
.main div p:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    
}
footer{
    width: 100%;
    background-color: #85d062;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-top: 2px solid #000000;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
footer a:hover{
    color: #0756ff;
    text-decoration: underline;
}



.design-selection:hover, .design-archives:hover, .zen-resources:hover{
  transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}


.design-selection {
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  padding: 30px;
}

.design-archives {
  border-radius: 30px;
  padding: 10px;
  background-color: #ffffff;
  padding: 30px;
}

.zen-resources {
  border-radius: 30px;
  padding: 10px;
  margin: 100px;
  background-color: #ffffff;
  padding: 30px;
}

.design-selection, .design-archives, .zen-resources {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.sidebar{
  justify-self: center;
}