body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.5;  
    font-size: 15px;
}
header h1 {
    background-color: #85d062;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    border-bottom: 2px solid #000000;
    font-family: pacifico, cursive;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

header h2 {
  font-size: 30px;
  margin-top: 400px;
  text-align: center;
  margin-bottom: -150px;
  margin-right: 1400px;
}

section{
    background-image: url('images/istockphoto-108219206-612x612.jg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.preamble {
  width: 500px;
  margin: 100px auto; 
  padding: 20px;
  background-color: #d0eeff;
  border: 2px solid #000000;
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 18px;
  margin-right: 1400px;

}

.summary {
  width: 500px;
  height: 225px;
  margin: 50px auto;   
  background-color: #d0eeff;
  border: 2px solid #000;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 80px;
  align-items: flex-end;
  display: flex;
  font-size: 18px; 
  line-height: 1.6;
  text-align: left;
  margin-right: 1400px;
}

.summary + div:nth-child(2) {

}